@use '../../styles/variables' as *;

.upgradeList {
  display: flex;
  gap: $spacing-xs;
  padding: $spacing-md;

  > * {
    flex: 1;
    min-width: 0; // Permet au contenu de shrink si nécessaire
  }
}
